/*
*Dashboard css
*/



/*
*Stats boxes
*/
.stat-boxes {
  padding-top: 50px;
}

/*
*Latest Transactions Homepage
*/
.latest-transactions {
  padding-top: 50px;
}

/*
*Dashboard boxes
*/
.total-box {
  text-align: center;
}
