/*
*Dashboard css
*/



/*
*Stats boxes
*/
.stat-boxes {
  padding-top: 50px;
}

/*
*Latest Transactions Homepage
*/
.latest-transactions {
  padding-top: 50px;
}

/*
*Dashboard boxes
*/
.total-box {
  text-align: center;
}

/*
*Address Modal
*/
.modal-address-text {
  color: white;
  text-align: center;
  background-color: grey;
}

#modal-address-qr {
  display: block;
  margin: auto;
}
